# dependencias
node_modules/

# compilación y caché de nextjs
.next/
out/
build/
dist/

# entorno y variables secretas
.env
.env*.local

# registro / Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ocultos del sistema operativo
.DS_Store
Thumbs.db
